stages:
  - build

build:sh4-gcc:
  stage: build
  image: kazade/dreamcast-sdk
  script:
    - source /etc/bash.bashrc
    - mkdir builddir
    - cd builddir
    - cmake -DCMAKE_TOOLCHAIN_FILE=../toolchains/Dreamcast.cmake -DCMAKE_BUILD_TYPE=Release ..
    - make
    - tar -zcf gldc.tar.gz libGLdc.a ../LICENSE ../README.md ../include
  artifacts:
    paths:
    - gldc.tar.gz
    
build:x86-gcc:
  stage: build
  image: fedora:33
  before_script:
    - sudo dnf install -y cmake gcc gcc-c++ SDL2-devel.i686 glibc-devel.i686
  script:
    - mkdir builddir
    - cd builddir
    - cmake -DCMAKE_BUILD_TYPE=Release ..
    - make
